---
http_interactions:
- request:
    method: get
    uri: https://api.apilayer.com/exchangerates_data/convert?amount=10&from=USD&to=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<apilayer.key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '250'
      Ratelimit-Remaining:
      - '230'
      Ratelimit-Reset:
      - '955719'
      X-Cloud-Trace-Context:
      - f37684b18ec253374f962b793445f56e;o=1
      X-Ratelimit-Limit-Day:
      - '250'
      X-Ratelimit-Limit-Month:
      - '250'
      X-Ratelimit-Remaining-Day:
      - '248'
      X-Ratelimit-Remaining-Month:
      - '230'
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "success": true,
            "query": {
                "from": "USD",
                "to": "BRL",
                "amount": 10
            },
            "info": {
                "timestamp": 1652999463,
                "rate": 4.931502
            },
            "date": "2022-05-19",
            "result": 49.31502
        }
  recorded_at: Thu, 19 May 2022 22:31:21 GMT
recorded_with: VCR 6.0.0
