---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lang=pt_br&q=Cascavel,PR,BR&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-53.4553,"lat":-24.9558},"weather":[{"id":802,"main":"Clouds","description":"nuvens
        dispersas","icon":"03n"}],"base":"stations","main":{"temp":23.78,"feels_like":23.7,"temp_min":23.78,"temp_max":23.78,"pressure":1016,"humidity":57},"visibility":10000,"wind":{"speed":2.06,"deg":200},"clouds":{"all":40},"dt":1629062151,"sys":{"type":1,"id":8323,"country":"BR","sunrise":1629021668,"sunset":1629062139},"timezone":-10800,"id":3466779,"name":"Cascavel","cod":200}'
  recorded_at: Sun, 15 Aug 2021 21:17:13 GMT
recorded_with: VCR 6.0.0
