---
http_interactions:
- request:
    method: get
    uri: https://api.apilayer.com/exchangerates_data/convert?amount=10&from=BRL&to=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<apilayer.key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - ea8ae872eb102a26dc05635a2e399bb4;o=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "success": true,
            "query": {
                "from": "BRL",
                "to": "USD",
                "amount": 10
            },
            "info": {
                "timestamp": 1652822357,
                "rate": 0.202482
            },
            "date": "2022-05-17",
            "result": 2.02482
        }
  recorded_at: Tue, 17 May 2022 21:19:28 GMT
recorded_with: VCR 6.0.0
